#topbar {
    padding: 20px 40px;
    overflow: hidden;
}

h1, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.title {
    font-size: 24px;
    float: left;
}

#topbar form {
    float: right;
}

#topbar form button:first-child, #topbar form a:first-child {
    margin-right: 10px;
}

#content {
    width: 100%;
    max-width: 100%;
    margin: 80px auto 0 auto;
    text-align: center;
}

#slogan, #subtitle, #content form {
    display: block;
    margin: 20px auto;
}

#slogan {
    width: 300px;
}

#slogan h1 {
    font-size: 40px;
    margin: 0;
}

#subtitle {
    width: 80%;
    max-width: 520px;
}

#content form button {
    padding: 20px 100px;
    font-size: 20px;
}

#content form button:hover {
    text-decoration: none;
}