#login {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}

#login h1 {
    font-size: 32px;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
}

#login p.mmdp {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.checkbox {
    margin-bottom: 20px;
    font-size: 14px;
}

.checkbox label {
    cursor: pointer;
}

#login .button {
    display: block;
    width: 100%;
}