#register {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}

#register h1 {
    font-size: 32px;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
}

#notifications {
    width: 100%;
    margin-bottom: 20px;
}

#notifications > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#notifications div img {
    width: 20px;
    margin-right: 10px;
}

#notifications p {
    font-size: 13px;
}

#notifications p.valid {
    color: green;
}

#notifications p.invalid {
    color: red;
}

#register .button {
    display: block;
    width: 100%;
}