* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
}

.button, a.button {
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
}

.button:hover, a.button:hover {
    text-decoration: underline;
}

.button.primary, a.button.primary {
    border: 1px solid #000;
    background-color: #efefef;
    color: #000;
}

.button.secondary, a.button.secondary {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.input {
    width: 100%;
    border: 2px solid #000;
    padding: 12px 15px;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 15px;
    font-size: 14px;
}

.button:disabled {
    opacity: 0.75;
}

.button:disabled:hover {
    cursor:not-allowed;
    text-decoration: none;
}

.link {
    margin: 12px 0;
    text-align: center;
    vertical-align: auto;
}

.link a {
    color: #000;
    font-size: 14px;
}

.no-underline a
{
    text-decoration: none;
}

.alert-msg {
    color: red;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.select {
    color: black;
    font-weight: bold;
}